.action__container {
    grid-template-columns:repeat(2,1fr);
    text-decoration: underline;
    text-decoration-color: rgb(43, 137, 226);
    padding: 1.875rem 2.5rem;
    column-gap: 3rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
    border:none;
    margin: 10px;
    border-radius: 40px;
    justify-content:end;
    height: 10px;
    margin-left: 100px;
    text-align: center;
    min-height: 10vh;
    border: 2px solid rgba(0,0,0,2);
    row-gap: 1rem;
    cursor: pointer;
    box-sizing:border-box;
    box-align: right center;
    background-color: silver;
    font-style:oblique;
    font-family: "Play", sans-serif;
    font-size:x-large;
}

body {
    margin: 10;
    margin-left: 1rem;
    margin-top: 2rem;
    font-family: "Play", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    background: rgb(243, 246, 246);
  }
  